<a ng-href="./metamorphosis/_img/science0.jpg" data-lightbox="thumbsgroup" data-title="img_Science_0">Science_0 #1</a>
<a ng-href="./metamorphosis/_img/science1.jpg" data-lightbox="thumbsgroup" data-title="img_Science_1">Science_1 #2</a>
<a ng-href="./metamorphosis/_img/science2.jpg" data-lightbox="thumbsgroup" data-title="img_Science_2">Science_2 #3</a>
<a ng-href="./metamorphosis/_img/science3.jpg" data-lightbox="thumbsgroup" data-title="img_Science_3">Science_3 #4</a>
<a ng-href="./metamorphosis/_img/science4.jpg" data-lightbox="thumbsgroup" data-title="img_Science_4">Science_4 #5</a>
<a ng-href="./metamorphosis/_img/science5.jpg" data-lightbox="thumbsgroup" data-title="img_Science_5">Science_5 #6</a>
<a ng-href="./metamorphosis/_img/science6.jpg" data-lightbox="thumbsgroup" data-title="img_Science_6">Science_6 #7</a>